<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CONTACT US</title>
        <link rel="stylesheet" href="styleQ8.css">
        <script src="question-7-JS.js"></script>
    </head>

    <body>

        <%include('header.ejs')%>
        <nav class="side-menu">
            <ul class="helvetica-bold">
                <li><a href="/">HOME PAGE</a></li>
                
                <li><a href="/find-dog-cat">FIND A DOG/CAT</a></li>
                <li><a href="/dog-care">DOG CARE</a></li>
                <li><a href="/cat-care">CAT CARE</a></li>
                <li><a href="/have-a-pet-giveaway">HAVE A PET TO GIVE AWAY</a></li>
                <li><a class="active" href="/contact-us">CONTACT US</a></li>
                <% if (!session.loggedin) { %>
                    <li><a href="/create-account">LOG IN</a></li>
                <% } else { %>
                    <li><a href="/logout">LOG OUT</a></li>
                <% } %>
            </ul>
        </nav>

        <main class="content-area">
            <section id="Contact-us"> <br>
                <h2 class="helvetica">Our Contact Information</h2>
    
                <p class="helvetica"><span class="bold-color">Happy Tails Adoption Centre</span><br>
                    1234 Pawprint Avenue<br>
                    Whiskerville, PA 19001
                </p>
    
                <p class="helvetica-3">
                    An-Khiem Le <br>
                    40280775 <br>
                    ankhiemle02@gmail.com
                </p>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </section>
        </main>
    <%- include('footer.ejs') %>
</body>
</html>